<div class="card mt-2 "><!--Skills-->
  <div class="card-body">
    <h2>Habilidades </h2>
  <h3>Hard </h3>
  <ul class="list-group list-group-flush" *ngFor="let Skill of skill">
    <li class="list-group-item">
      <div class="container" *ngIf=" (Skill.tipoHabilidad) =='hard'">
        <div class="row">
          <div class="col-2 ">
          <h4>{{Skill.nombre}}</h4> 
          </div>
          <div class="col-9">
            <div class="progress " >
              <div class="progress-bar progress-bar-striped" role="progressbar" [style]="'width:' + (Skill.porcentaje) +'%'" attr.aria-valuenow="{{Skill.porcentaje}}" aria-valuemin="0" aria-valuemax="100">{{Skill.porcentaje}}%</div>
            </div>
          </div>
         
        </div>
      </div>
    </li>

  </ul>
  <h3>Soft</h3>
  <ul class="list-group list-group-flush" *ngFor="let Skill of skill">
    <li class="list-group-item">
      <div class="container" *ngIf=" (Skill.tipoHabilidad) =='soft'">
        <div class="row">
          <div class="col-2 ">
          <h4>{{Skill.nombre}}</h4> 
          </div>
          <div class="col-9">
            <div class="progress " >
              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style]="'width:' + (Skill.porcentaje) +'%'" attr.aria-valuenow="{{Skill.porcentaje}}" aria-valuemin="0" aria-valuemax="100">{{Skill.porcentaje}}%</div>
            </div>
          </div>
          
        </div>
      </div>
    </li>

  </ul>
  <h3>Idiomas</h3>
  <ul class="list-group list-group-flush" *ngFor="let Skill of skill">
    <li class="list-group-item">
    <div class="container" *ngIf=" (Skill.tipoHabilidad) =='language'">
      <div class="row">
        <div class="col-2 ">
        <h4>{{Skill.nombre}}</h4> 
        </div>
        <div class="col-9">
          <div class="progress " >
            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" [style]="'width:' + (Skill.porcentaje) +'%'" attr.aria-valuenow="{{Skill.porcentaje}}" aria-valuemin="0" aria-valuemax="100">{{Skill.porcentaje}}%</div>
          </div>
        </div>
      </div>
    </div>
  </li></ul>

</div>
  
  
</div>