<div class="card foot">
      
    <div class="container  ">
      <div class="row align-items-center">
        <div class="col-1 rounded logo">
          <img src="assets/images/logo arp.jpg "  alt="logo argentina programa" width="75px" > 
        </div>
        <div class="col-2 text-start">
            <h5>Argentina Programa 
                <br>
                #YoProgramo.</h5>
        </div>
        <div class="col-6 text-center">
            <p>Proyecto final del programa #YoProgramo <br>desarrollado por Alexei Federico Fidalgo </p>
          </div>
        <div class="col-2">
          <button type="button" class="btn btn-primary" ><a class="home" href="#header">volver al inicio</a></button>
        </div>
      </div> 
    </div>
  
</div>