<div class="card ">
      
    <div class="container ">
      <div class="row ">
        <div class="col-1 rounded">
          <img src="assets/images/logo arp.jpg "  alt="logo argentina programa" width="75px" > 
          
        </div>
        <div class="col-8">
          <h5>Argentina Programa 
            <br>
            #YoProgramo.</h5>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-primary" (click)="login()">iniciar sesion</button>
        </div>
      </div> 
    </div>
  
</div>