<div class="card mt-2 mb-5">
  <div class="card-body">
    <h2>Proyectos </h2>
    <ul class="list-group list-group-flush" *ngFor="let Project of project">
      <li class="list-group-item">
        <div class="container mt-1">
          <div class="row">
            <div class="col-11">
              <div>
                <h3><a href="{{Project.urlProyecto}}" target="_blank" class="link-primary">{{Project.nombre}} </a> </h3>
                <span>Finalización: {{Project.anoFin}}</span>
                <p><b>Descripcion: </b><br>{{Project.descripcion}}</p>
              </div>

            </div>
     
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>