<div class="card mt-2 mb-5">
  <div class="card-body">
    <h2>Proyectos  </h2>
    <div class="container mt-1">
      <div class="row">
        <div class="col-11">
          <div>
            <h3><a href="https://github.com/AlexeiFidalgo/APYoProgramoAFFFrontend.git" class="link-primary">ArProgramaFronten</a> </h3>
            <span>Inicio: Febrero 2022  -  Finalización: octubre 2022</span>
            <p>Parte Frontend del proyecto final de ArPrograma #yoProgramo hecho en angular</p>
          </div>

        </div>
        <div class="col-1">
          
        </div>
    </div>
    </div> 
    <div class="container mt-1">
      <div class="row">
        <div class="col-11">
          <div>
            <h3><a href="https://github.com/AlexeiFidalgo/APYoProgramoAFFBackend.git" class="link-primary">ArProgramaBackend</a> </h3>
            <span>Inicio: Febrero 2022  -  Finalización: octubre 2022</span>
            <p>Parte Frontend del proyecto final de ArPrograma #yoProgramo hecho en angular</p>
          </div>

        </div>
        <div class="col-1">
         
        </div>
    </div> 
  </div>
</div>
</div>