<div class="card "><!--perfil-->
  <div >
    <img src="assets/images/portada tecno .jpg"  class="img-fluid rounded bg-light bg-gradient bg-opacity-75" alt="portada">
  </div>
  
  <div class="card-body ">
    
    <div class="container ">
      <div class="row ">
        <div class="col-2"><img src="assets/images/{{profile[0].fotoPerfil}}" alt="perfil" class="img-thumbnail rounded-circle">
          
        </div>  
        <div class="col-9 " > 
          <h2>{{profile[0].nombre}} </h2> 
          <h4>{{profile[0].titulo}}</h4>
          <div><h5>Conoceme...</h5>
            <p>{{profile[0].descripcion}}</p>
          </div>
      
      </div>
      
      </div> 
    </div>
    
  </div>
</div>

