<div class="card "><!--perfil-->
    <div >
      <img src="assets/images/portada tecno .jpg"  class="img-fluid rounded bg-light bg-gradient bg-opacity-75" alt="portada">
    </div>
    
    <div class="card-body ">
      
      <div class="container ">
        <div class="row ">
          <div class="col-2"><img src="assets/images/{{profile[0].fotoPerfil}}" alt="perfil" class="img-thumbnail rounded-circle">
            
          </div>  
          <div class="col-9 " > 
            <h2>{{profile[0].nombre}} </h2> 
            <h4>{{profile[0].titulo}}</h4>
            <div><h5>Conoceme...</h5>
              <p>{{profile[0].descripcion}}</p>
            </div>
        
        </div>
        <div class="col-1 ">
          <button type="button" routerLink="/profileEdit/{{profile[0].id}}" class="btn btn-primary rounded-circle"><svg xmlns="http://www.w3.org/2000/svg"
            width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
            <path
              d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
          </svg></button>
       
          
          </div>
        </div> 
      </div>
      
    </div>
  </div>

