<div class="card "><!--perfil-->
  <div >
    <img src="https://firebasestorage.googleapis.com/v0/b/apyoprogramoafffrontend.appspot.com/o/imagen%2Fbanner_2?alt=media&token=ac7c70d1-3611-4b3b-9b91-20784c997e43"  class="img-fluid rounded bg-light bg-gradient bg-opacity-75" alt="portada">
  </div>
  
  <div class="card-body ">
    
    <div class="container ">
      <div class="row ">
        <div class="col-2"><img src="https://firebasestorage.googleapis.com/v0/b/apyoprogramoafffrontend.appspot.com/o/imagen%2Fperfil_2?alt=media&token=beff58d0-399d-44d4-8ba9-87d091e5f115" alt="perfil" class="img-thumbnail rounded-circle">
          
        </div>  
        <div class="col-9 " > 
          <h2>{{profile[0].nombre}}  {{profile[0].apellido}}</h2> 
          <h4>{{profile[0].titulo}}</h4>
          <div><h5>Conoceme...</h5>
            <p>{{profile[0].descripcion}}</p>
          </div>
      
      </div>
      <div class="col-1 ">

        </div>
      </div> 
    </div>
    
  </div>
</div>

