<div class="card mt-2">
  <!--Educacion-->
  <div class="card-body">
    <h2>Educación
     
    </h2>
    <ul class="list-group list-group-flush" *ngFor="let Education of education">
      <li class="list-group-item">
        <div class="container mt-1">
          <div class="row">
            <div class="col-1">
              
            </div>
            <div class="col-10">
              <h3>{{Education.titulo}}</h3>
              <span>{{Education.nombreInstitucion}} - {{Education.tipoEducacion}}</span>
              <h6>Desde el año {{Education.anoInicio}} hasta {{Education.anoFin}} </h6>
            </div>
            <div class="col-1 ">
            
            </div>
          </div>
        </div>
      </li>
    </ul>

  </div>
</div>