<div class="card mt-2">
  <!--Educacion-->
  <div class="card-body">
    <h2>Experiencia laboralll
    </h2>
    <ul class="list-group list-group-flush" *ngFor="let Experience of experience">
      <li class="list-group-item">
        <div class="container mt-1">
          <div class="row">
            <div class="col-1">
             
            </div>
            <div class="col-10">
              <h3>{{Experience.puesto}} en {{Experience.nombre}}</h3>
              <h6>Desde el año {{Experience.anoInicio}} hasta {{Experience.anoFin}} </h6>
              <p><b>Descripcion del trabajo: </b><br>{{Experience.descripcion}}</p>
            </div> 
       
          </div>
        </div>
      </li>
    </ul>

  </div>
</div>